hackathon-projects/kovela-kifaruWatch/cwt/cwt/fixtures/n8n_workflows/6_candidate_party_onboarding.json
{
  "id": "cwt-wf-006",
  "name": "CWT 6 - Candidate and Party Onboarding Pipeline",
  "active": false,
  "createdAt": "2026-03-06T00:00:00.000Z",
  "updatedAt": "2026-03-07T06:00:00.000Z",
  "versionId": "1",
  "meta": {
    "instanceId": "cwt-demo"
  },
  "tags": [
    {
      "id": "tag-cwt",
      "name": "CWT"
    },
    {
      "id": "tag-onboard",
      "name": "Onboarding"
    }
  ],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cwt-onboard",
        "options": {}
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000001",
      "name": "Onboarding Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "cwt-onboard",
      "notesInFlow": true,
      "notes": "POST /webhook/cwt-onboard with JSON: { \"candidates\": [...], \"parties\": [...] }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst parties = body.parties || [];\nconst candidates = body.candidates || [];\nconst results = [];\n\nif (parties.length > 0) {\n  results.push({\n    json: {\n      _step: 'parties',\n      type: 'party',\n      data: parties.map(function(p) {\n        return {\n          party_name: p.party_name || p.name,\n          abbreviation: p.abbreviation || '',\n          color: p.color || '#333333',\n          total_fund_allocation: parseFloat(p.fund_allocation || p.total_fund_allocation || 0)\n        };\n      })\n    }\n  });\n}\n\nif (candidates.length > 0) {\n  results.push({\n    json: {\n      _step: 'candidates',\n      type: 'candidate',\n      data: candidates.map(function(c) {\n        return {\n          full_name: c.full_name || c.name,\n          party: c.party || '',\n          constituency: c.constituency || '',\n          county: c.county || '',\n          position: c.position || 'MP',\n          spending_limit: parseFloat(c.spending_limit || 80000000),\n          bio: c.bio || ''\n        };\n      })\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true, message: 'No data in payload' } }];\n}\n\nreturn results;"
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000002",
      "name": "Prepare Onboarding Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000003",
      "name": "Has Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cwt.localhost/api/method/cwt.cwt.api.n8n_webhook.receive",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $json.type, data: $json.data }) }}"
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000004",
      "name": "Push to CWT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        200
      ],
      "notesInFlow": true,
      "notes": "Set HTTP Header Auth credential: Name=Authorization, Value=token <api_key>:<api_secret>"
    },
    {
      "parameters": {
        "jsCode": "const r = $json.message || $json;\nreturn [{\n  json: {\n    result: 'Onboarding complete: ' + (r.created || 0) + ' created, ' + (r.updated || 0) + ' updated',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000005",
      "name": "Result Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asgn-skip",
              "name": "message",
              "value": "No candidates or parties in payload - skipped",
              "type": "string"
            }
          ]
        }
      },
      "id": "f1b2c3d4-6666-4000-8000-000000000006",
      "name": "Skipped",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        420
      ]
    }
  ],
  "connections": {
    "Onboarding Webhook": {
      "main": [
        [
          {
            "node": "Prepare Onboarding Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Onboarding Data": {
      "main": [
        [
          {
            "node": "Has Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Data": {
      "main": [
        [
          {
            "node": "Push to CWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to CWT": {
      "main": [
        [
          {
            "node": "Result Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {
    "Onboarding Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "authorization": "token abc123:xyz789"
          },
          "body": {
            "parties": [
              {
                "party_name": "Green Congress of Kenya",
                "abbreviation": "GCK",
                "color": "#009933",
                "fund_allocation": 0
              },
              {
                "party_name": "Devolution Empowerment Party",
                "abbreviation": "DEP",
                "color": "#CC6633",
                "fund_allocation": 0
              }
            ],
            "candidates": [
              {
                "full_name": "James Orengo",
                "party": "Orange Democratic Movement",
                "constituency": "Siaya",
                "county": "Siaya",
                "position": "Senator",
                "spending_limit": 95000000,
                "bio": "Veteran senator and legal scholar"
              },
              {
                "full_name": "Moses Wetangula",
                "party": "Forum for Restoration of Democracy-Kenya",
                "constituency": "Bungoma",
                "county": "Bungoma",
                "position": "Senator",
                "spending_limit": 100000000,
                "bio": "Senate Speaker, FORD-K party leader"
              },
              {
                "full_name": "Timothy Bosire",
                "party": "United Democratic Alliance",
                "constituency": "Kitutu Chache North",
                "county": "Kisii",
                "position": "MP",
                "spending_limit": 42000000,
                "bio": "First-term MP, county development advocate"
              }
            ]
          }
        }
      }
    ],
    "Prepare Onboarding Data": [
      {
        "json": {
          "_step": "parties",
          "type": "party",
          "data": [
            {
              "party_name": "Green Congress of Kenya",
              "abbreviation": "GCK",
              "color": "#009933",
              "total_fund_allocation": 0
            },
            {
              "party_name": "Devolution Empowerment Party",
              "abbreviation": "DEP",
              "color": "#CC6633",
              "total_fund_allocation": 0
            }
          ]
        }
      },
      {
        "json": {
          "_step": "candidates",
          "type": "candidate",
          "data": [
            {
              "full_name": "James Orengo",
              "party": "Orange Democratic Movement",
              "constituency": "Siaya",
              "county": "Siaya",
              "position": "Senator",
              "spending_limit": 95000000,
              "bio": "Veteran senator and legal scholar"
            },
            {
              "full_name": "Moses Wetangula",
              "party": "Forum for Restoration of Democracy-Kenya",
              "constituency": "Bungoma",
              "county": "Bungoma",
              "position": "Senator",
              "spending_limit": 100000000,
              "bio": "Senate Speaker, FORD-K party leader"
            },
            {
              "full_name": "Timothy Bosire",
              "party": "United Democratic Alliance",
              "constituency": "Kitutu Chache North",
              "county": "Kisii",
              "position": "MP",
              "spending_limit": 42000000,
              "bio": "First-term MP, county development advocate"
            }
          ]
        }
      }
    ],
    "Has Data": [
      {
        "json": {
          "_step": "parties",
          "type": "party",
          "data": [
            {
              "party_name": "Green Congress of Kenya",
              "abbreviation": "GCK",
              "color": "#009933",
              "total_fund_allocation": 0
            },
            {
              "party_name": "Devolution Empowerment Party",
              "abbreviation": "DEP",
              "color": "#CC6633",
              "total_fund_allocation": 0
            }
          ]
        }
      }
    ],
    "Push to CWT": [
      {
        "json": {
          "message": {
            "status": "ok",
            "created": 5,
            "updated": 0,
            "details": "2 parties + 3 candidates onboarded"
          }
        }
      }
    ],
    "Result Summary": [
      {
        "json": {
          "result": "Onboarding complete: 5 created, 0 updated",
          "timestamp": "2026-03-07T06:00:00.000Z"
        }
      }
    ]
  }
}