files/kovela-kifaruWatch/cwt/cwt/fixtures/n8n_workflows/5_daily_summary_slack_report.json
{
  "id": "cwt-wf-005",
  "name": "CWT 5 - Daily Summary and Slack Report",
  "active": false,
  "createdAt": "2026-03-06T00:00:00.000Z",
  "updatedAt": "2026-03-07T06:00:00.000Z",
  "versionId": "1",
  "meta": {
    "instanceId": "cwt-demo"
  },
  "tags": [
    {
      "id": "tag-cwt",
      "name": "CWT"
    },
    {
      "id": "tag-reporting",
      "name": "Reporting"
    }
  ],
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000001",
      "name": "Daily at 6 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        340
      ]
    },
    {
      "parameters": {
        "url": "http://cwt.localhost/api/method/cwt.cwt.api.dashboard.get_summary",
        "authentication": "noAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000002",
      "name": "Fetch CWT Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://cwt.localhost/api/method/cwt.cwt.api.dashboard.get_alerts",
        "authentication": "noAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "severity",
              "value": "Critical"
            },
            {
              "name": "status",
              "value": "Open"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000003",
      "name": "Fetch Critical Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000009",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        740,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet summary = {};\nlet alerts = [];\n\nfor (const item of items) {\n  if (item.json.message && item.json.message.total_raised !== undefined) {\n    summary = item.json.message;\n  }\n  if (item.json.message && Array.isArray(item.json.message)) {\n    alerts = item.json.message;\n  }\n}\n\nconst totalRaised = Number(summary.total_raised || 0).toLocaleString();\nconst totalSpent = Number(summary.total_spent || 0).toLocaleString();\nconst openAlerts = summary.open_alerts || 0;\nconst criticalAlerts = alerts.length;\n\nlet alertList = '';\nif (alerts.length > 0) {\n  alertList = '\\n\\n:rotating_light: *Critical Alerts:*\\n';\n  for (const a of alerts.slice(0, 10)) {\n    alertList += '- *' + a.title + '* - ' + (a.candidate || a.party || 'N/A') + ' (' + a.alert_date + ')\\n';\n  }\n}\n\nconst today = new Date().toISOString().split('T')[0];\nconst report = ':bar_chart: *CWT Daily Finance Report - ' + today + '*\\n\\n' +\n  ':moneybag: Total Raised: KES ' + totalRaised + '\\n' +\n  ':money_with_wings: Total Spent: KES ' + totalSpent + '\\n' +\n  ':busts_in_silhouette: Candidates: ' + (summary.total_candidates || 0) + '\\n' +\n  ':classical_building: Parties: ' + (summary.total_parties || 0) + '\\n' +\n  ':warning: Open Alerts: ' + openAlerts + '\\n' +\n  ':red_circle: Critical: ' + criticalAlerts +\n  alertList;\n\nreturn [{ json: { report: report, critical_count: criticalAlerts, timestamp: new Date().toISOString() } }];"
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000004",
      "name": "Build Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-critical",
              "leftValue": "={{ $json.critical_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000005",
      "name": "Has Critical Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK_URGENT",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.report) }}\n}"
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000006",
      "name": "Slack Urgent Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        240
      ],
      "notesInFlow": true,
      "notes": "Replace with your Slack Incoming Webhook URL for the urgent alerts channel."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK_DAILY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.report) }}\n}"
      },
      "id": "e1b2c3d4-5555-4000-8000-000000000007",
      "name": "Slack Daily Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        460
      ],
      "notesInFlow": true,
      "notes": "Replace with your Slack Incoming Webhook URL for the general daily channel."
    }
  ],
  "connections": {
    "Daily at 6 AM": {
      "main": [
        [
          {
            "node": "Fetch CWT Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Critical Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CWT Summary": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Critical Alerts": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Build Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Report": {
      "main": [
        [
          {
            "node": "Has Critical Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Critical Alerts": {
      "main": [
        [
          {
            "node": "Slack Urgent Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Daily Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {
    "Daily at 6 AM": [
      {
        "json": {
          "timestamp": "2026-03-07T06:00:00.000Z"
        }
      }
    ],
    "Fetch CWT Summary": [
      {
        "json": {
          "message": {
            "total_raised": 12750000000,
            "total_spent": 14280000000,
            "total_candidates": 27,
            "total_parties": 29,
            "total_contributions": 214,
            "total_expenditures": 194,
            "open_alerts": 37,
            "critical_alerts": 11,
            "compliance_rate": 44.4,
            "avg_compliance_score": 48.2,
            "latest_fund_pool": 1200000000,
            "latest_fund_year": "2025/2026",
            "top_spenders": [
              {
                "full_name": "Raila A. Odinga",
                "party": "ODM",
                "total_spent": 5280000000,
                "spending_limit": 4000000000,
                "percent_used": 132.0
              },
              {
                "full_name": "William S. Ruto",
                "party": "UDA",
                "total_spent": 3800000000,
                "spending_limit": 4000000000,
                "percent_used": 95.0
              },
              {
                "full_name": "Johnson Sakaja",
                "party": "UDA",
                "total_spent": 515000000,
                "spending_limit": 500000000,
                "percent_used": 103.0
              }
            ]
          }
        }
      }
    ],
    "Fetch Critical Alerts": [
      {
        "json": {
          "message": [
            {
              "title": "OVERSPEND: Raila A. Odinga at 132% of presidential spending limit",
              "severity": "Critical",
              "candidate": "Raila A. Odinga",
              "party": "Orange Democratic Movement",
              "alert_date": "2026-03-06",
              "status": "Open"
            },
            {
              "title": "OVERSPEND: Johnson Sakaja at 103% of Nairobi Governor limit",
              "severity": "Critical",
              "candidate": "Johnson Sakaja",
              "party": "United Democratic Alliance",
              "alert_date": "2026-03-06",
              "status": "Open"
            },
            {
              "title": "OVERSPEND: Kimani Ichung'wah at 107% of MP limit",
              "severity": "Critical",
              "candidate": "Kimani Ichung'wah",
              "party": "United Democratic Alliance",
              "alert_date": "2026-03-05",
              "status": "Open"
            },
            {
              "title": "OVERSPEND: Stewart Madzayo at 108% of Senator limit",
              "severity": "Critical",
              "candidate": "Stewart Madzayo",
              "party": "Orange Democratic Movement",
              "alert_date": "2026-03-05",
              "status": "Open"
            },
            {
              "title": "OVERSPEND: Didmus Barasa at 108% of MP limit",
              "severity": "Critical",
              "candidate": "Didmus Barasa",
              "party": "United Democratic Alliance",
              "alert_date": "2026-03-04",
              "status": "Open"
            },
            {
              "title": "OVERSPEND: Aden Duale at 108% of MP limit",
              "severity": "Critical",
              "candidate": "Aden Duale",
              "party": "United Democratic Alliance",
              "alert_date": "2026-03-04",
              "status": "Open"
            },
            {
              "title": "Foreign donation flagged: Democracy Now Foundation (USA) to Raila A. Odinga",
              "severity": "Critical",
              "candidate": "Raila A. Odinga",
              "party": "Orange Democratic Movement",
              "alert_date": "2026-03-03",
              "status": "Open"
            },
            {
              "title": "Foreign donation flagged: Open Society East Africa",
              "severity": "Critical",
              "candidate": "William S. Ruto",
              "party": "United Democratic Alliance",
              "alert_date": "2026-03-02",
              "status": "Open"
            }
          ]
        }
      }
    ],
    "Merge Data": [
      {
        "json": {
          "message": {
            "total_raised": 12750000000,
            "total_spent": 14280000000,
            "total_candidates": 27,
            "total_parties": 29,
            "open_alerts": 37,
            "critical_alerts": 11
          }
        }
      },
      {
        "json": {
          "message": [
            {
              "title": "OVERSPEND: Raila A. Odinga at 132% of presidential spending limit",
              "severity": "Critical",
              "candidate": "Raila A. Odinga",
              "alert_date": "2026-03-06"
            },
            {
              "title": "OVERSPEND: Johnson Sakaja at 103% of Nairobi Governor limit",
              "severity": "Critical",
              "candidate": "Johnson Sakaja",
              "alert_date": "2026-03-06"
            }
          ]
        }
      }
    ],
    "Build Daily Report": [
      {
        "json": {
          "report": ":bar_chart: *CWT Daily Finance Report - 2026-03-07*\n\n:moneybag: Total Raised: KES 12,750,000,000\n:money_with_wings: Total Spent: KES 14,280,000,000\n:busts_in_silhouette: Candidates: 27\n:classical_building: Parties: 29\n:warning: Open Alerts: 37\n:red_circle: Critical: 8\n\n:rotating_light: *Critical Alerts:*\n- *OVERSPEND: Raila A. Odinga at 132% of presidential spending limit* - Raila A. Odinga (2026-03-06)\n- *OVERSPEND: Johnson Sakaja at 103% of Nairobi Governor limit* - Johnson Sakaja (2026-03-06)\n- *OVERSPEND: Kimani Ichung'wah at 107% of MP limit* - Kimani Ichung'wah (2026-03-05)\n- *OVERSPEND: Stewart Madzayo at 108% of Senator limit* - Stewart Madzayo (2026-03-05)\n- *OVERSPEND: Didmus Barasa at 108% of MP limit* - Didmus Barasa (2026-03-04)\n- *OVERSPEND: Aden Duale at 108% of MP limit* - Aden Duale (2026-03-04)\n- *Foreign donation flagged: Democracy Now Foundation (USA)* - Raila A. Odinga (2026-03-03)\n- *Foreign donation flagged: Open Society East Africa* - William S. Ruto (2026-03-02)",
          "critical_count": 8,
          "timestamp": "2026-03-07T06:00:00.000Z"
        }
      }
    ],
    "Has Critical Alerts": [
      {
        "json": {
          "report": ":bar_chart: *CWT Daily Finance Report - 2026-03-07*\n\n:moneybag: Total Raised: KES 12,750,000,000\n:money_with_wings: Total Spent: KES 14,280,000,000\n:busts_in_silhouette: Candidates: 27\n:classical_building: Parties: 29\n:warning: Open Alerts: 37\n:red_circle: Critical: 8\n\n:rotating_light: *Critical Alerts:*\n- *OVERSPEND: Raila A. Odinga at 132%* - Raila A. Odinga\n- *OVERSPEND: Johnson Sakaja at 103%* - Johnson Sakaja\n- *Foreign donation flagged* - Raila A. Odinga & William S. Ruto",
          "critical_count": 8,
          "timestamp": "2026-03-07T06:00:00.000Z"
        }
      }
    ],
    "Slack Urgent Channel": [
      {
        "json": {
          "ok": true,
          "status": 200,
          "response": "Message posted to #cwt-urgent-alerts"
        }
      }
    ],
    "Slack Daily Channel": [
      {
        "json": {
          "ok": true,
          "status": 200,
          "response": "Message posted to #cwt-daily-report"
        }
      }
    ]
  }
}